body {
    margin: 0;

}

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bar-container {
    display: flex;
    width: 90%;
    padding: 25px 0 25px 0;
}

.bar {
    outline: 2px solid;
    padding: 15px 0 15px 0;

    width: 50%;
}

.bar p {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

.resize {
    outline: 2px solid;
    padding: 10px;
}

#info {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.value-split {
    text-align: center;
    font-size: 2em;
}