body {
    margin: 0;

}

div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bar-container {
    display: flex;
    width: 80%;
    padding: 25px 0 25px 0;
}

.bar {
    border: 2px solid;
    padding: 15px 0 15px 0;

    width: 50%;
}

.bar p {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

.resize {
    border: 2px solid;
    padding: 10px;
}